.ql-container {
    background-color: #ffffff;
}

.ql-editor {
    min-height: 200px; 
    font-size: 16px;
    line-height: 1.5; 
    padding: 30px;
    color: #333;
}

.ql-toolbar {
    background-color: rgba(245, 232, 250, 0.8);

    border-top-right-radius: 10px; 
    border-top-left-radius : 10px;
}

.ql-toolbar .ql-formats button:hover {
    background-color: #e0e0e0; 
    scale : 1.15;
    
}
